
/*fonts*/
$lato: "Lato", serif;
$roboto: "Roboto Slab", serif;

/*color*/
$gray: #BCBFC2;
$gray-text: #939699;
$gray-border: #D9DADB;
$gray-darck: #4b5157;
$black-bg: #262d33;
$blue-bg: #4592ff;

$blue-bir: #3bbdc4;
$blue-gray: #6e99ae;
$blue-border: #B4D1E0;
$blue-text: #D1E2EB;
$violet: #ac8ee3;
$violet-lt: #E7D9FF;
$orange: #ffa34d;
$green-lt: #3dc47e;

/*size*/
$offset: 10px;

