/*Lato*/
@font-face {
  font-family: "Lato";
  src: 
    url(../font/Lato-Black.woff2) format("opentype"),
    url(../font/Lato-Black.woff) format("opentype"),
    url(../font/Lato-Black.ttf) format("opentype"),
    url(../font/Lato-Black.eot) format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Lato";
  src: 
    url(../font/Lato-Bold.woff2) format("opentype"),
    url(../font/Lato-Bold.woff) format("opentype"),
    url(../font/Lato-Bold.ttf) format("opentype"),
    url(../font/Lato-Bold.eot) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: 
    url(../font/Lato-Regular.woff2) format("opentype"),
    url(../font/Lato-Regular.woff) format("opentype"),
    url(../font/Lato-Regular.ttf) format("opentype"),
    url(../font/Lato-Regular.eot) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: 
    url(../font/Lato-Light.woff2) format("opentype"),
    url(../font/Lato-Light.woff) format("opentype"),
    url(../font/Lato-Light.ttf) format("opentype"),
    url(../font/Lato-Light.eot) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: 
    url(../font/Lato-Thin.woff2) format("opentype"),
    url(../font/Lato-Thin.woff) format("opentype"),
    url(../font/Lato-Thin.ttf) format("opentype"),
    url(../font/Lato-Thin.eot) format("opentype");
  font-weight: 100;
}

/*Roboto Slab*/
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-Black.woff2) format("opentype"),
    url(../font/RobotoSlab-Black.woff) format("opentype"),
    url(../font/RobotoSlab-Black.ttf) format("opentype"),
    url(../font/RobotoSlab-Black.eot) format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-ExtraBold.woff2) format("opentype"),
    url(../font/RobotoSlab-ExtraBold.woff) format("opentype"),
    url(../font/RobotoSlab-ExtraBold.ttf) format("opentype"),
    url(../font/RobotoSlab-ExtraBold.eot) format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-Bold.woff2) format("opentype"),
    url(../font/RobotoSlab-Bold.woff) format("opentype"),
    url(../font/RobotoSlab-Bold.ttf) format("opentype"),
    url(../font/RobotoSlab-Bold.eot) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-SemiBold.woff2) format("opentype"),
    url(../font/RobotoSlab-SemiBold.woff) format("opentype"),
    url(../font/RobotoSlab-SemiBold.ttf) format("opentype"),
    url(../font/RobotoSlab-SemiBold.eot) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-Medium.woff2) format("opentype"),
    url(../font/RobotoSlab-Medium.woff) format("opentype"),
    url(../font/RobotoSlab-Medium.ttf) format("opentype"),
    url(../font/RobotoSlab-Medium.eot) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-Regular.woff2) format("opentype"),
    url(../font/RobotoSlab-Regular.woff) format("opentype"),
    url(../font/RobotoSlab-Regular.ttf) format("opentype"),
    url(../font/RobotoSlab-Regular.eot) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-Light.woff2) format("opentype"),
    url(../font/RobotoSlab-Light.woff) format("opentype"),
    url(../font/RobotoSlab-Light.ttf) format("opentype"),
    url(../font/RobotoSlab-Light.eot) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-ExtraLight.woff2) format("opentype"),
    url(../font/RobotoSlab-ExtraLight.woff) format("opentype"),
    url(../font/RobotoSlab-ExtraLight.ttf) format("opentype"),
    url(../font/RobotoSlab-ExtraLight.eot) format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto Slab";
  src: 
    url(../font/RobotoSlab-Thin.woff2) format("opentype"),
    url(../font/RobotoSlab-Thin.woff) format("opentype"),
    url(../font/RobotoSlab-Thin.ttf) format("opentype"),
    url(../font/RobotoSlab-Thin.eot) format("opentype");
  font-weight: 100;
}

