@import '../base/base.scss';
@import '../config/variables.scss';
@import '../config/mixin.scss';

.big-bloom{
  background-image: url(../img/bg-flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.big-bloom__wrapper{
  padding: 30px $offset*20 55px;
  @include screen-maxw(1090px){
    padding: 30px $offset*15 55px;
  }
  @include screen-maxw(990px){
    padding: 30px $offset*5 55px;
  }
  @include screen-maxw(790px){
    padding: $offset*2;
  }
  @include screen-maxw(600px){
    padding: $offset/2 $offset $offset;
  }
}

.big-bloom__text{
  font-size: 40px;
  font-family: $roboto;
  font-weight: 700;
  color: #fff;
  text-align: center;
  @include screen-maxw(790px){
    font-size: 30px;
  }
  @include screen-maxw(600px){
    font-size: 20px;
  }
}

.big-bloom__btn-wrapper{
  display: flex;
  justify-content: center;
}

.big-bloom__btn{
  text-align: center;
  background-color: $blue-bg;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}