@import '../../base/base.scss';
@import '../../config/variables.scss';
@import '../../config/mixin.scss';


.supports{

  &__wrapper{
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    @include screen-maxw(920px){
      display: block;
    }
  }
  &__main{
    // margin-top: 30px;
    border-top: 1px solid $gray-border;
    width: calc((100%/12)*7);
    margin-right: 30px;
    @include screen-maxw(1020px){
      width: calc((100%/12)*8);
      margin-right: 15px;
    }
    @include screen-maxw(920px){
      width: 100%;
      margin-right: 0;
    }
  }
  &__asside{
    width: calc((100%/12)*3);
    @include screen-maxw(920px){
      width: 100%;
    }
  }
  &__title{
    font-size: 25px;
    font-family: $roboto;
    font-weight: 700;
    color: $black-bg;
  }

  &__nav{
    &-menu{
      display: flex;
      gap: 10px;
      @include screen-maxw(510px){
        flex-wrap: wrap;
      }
      @include screen-maxw(315px){
        flex-direction: column;
      }

      &_item{
        font-size: 14px;
        font-weight: 700;
        padding: 10px 25px 8px 50px;
        border-radius: 20px;

        & a{
          color: #fff;
        }

        &-like{
          position: relative;
          background-color: $red;
          
          &_color{
            color: #FFC4C9;
            font-weight: 400;
          }

          &::before{
            position: absolute;
            content: '';
            left: 22px;
            width: 20px;
            height: 20px;
            background-image: url(../img/svg/sprite.svg#heart-white);
            background-repeat: no-repeat;
          }
        }
        &-facebook{
          position: relative;
          background-color: #4267B2;
          &_color{
            color: #BBC6FF;
            font-weight: 400;
          }
          &::before{
            position: absolute;
            content: '';
            left: 22px;
            width: 20px;
            height: 20px;
            background-image: url(../img/svg/sprite.svg#facebook-white);
            background-repeat: no-repeat;
          }
        }
        &-twitter{
          position: relative;
          background-color: #1DA1F2;
          &_color{
            color: #C5E4FC;
            font-weight: 400;
          }
          &::before{
            position: absolute;
            content: '';
            left: 22px;
            width: 20px;
            height: 20px;
            background-image: url(../img/svg/sprite.svg#twitter-white);
            background-repeat: no-repeat;
          }
        }

        
      }
    }
  }
}